<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<div th:insert="layout :: header"></div>
<div th:insert="layout :: hamburger"></div>
<div th:insert="layout :: sidebar"></div>

<div class="container my-4 py-5">
    <div class="col-md-10">
        <form th:action="@{/user/update/{id}(id=${user.id})}" th:object="${user}" method="post" class="mt-2">
            <input type="hidden" th:field="*{id}" />
            <div class="mb-3 mt-4">
                <label for="username" class="form-label">ユーザ名</label>
                <input type="text" class="form-control" id="username" th:field="*{username}" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">メールアドレス</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">パスワード</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" />
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">切替</label>
                <select class="form-control" id="role" th:field="*{role}">
                    <option value="ADMIN">Admin</option>
                    <option value="USER">User</option>
                </select>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">更新</button>
                <a th:href="@{/users}" class="btn btn-secondary">戻る</a>
            </div>
        </form>
    </div>
</div>

<script th:replace="layout :: script"></script>
</body>
</html>
